/*-----VARIABLES-----*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  height: 15%;
  background-color: #444242;
}

header nav {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 0.6fr;
      grid-template-columns: 0.4fr 0.6fr;
}

header nav .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo .logo-link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  font-family: "Chewy", cursive;
}

header nav .navigation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.5rem;
}

header nav .navigation .nav-link {
  text-decoration: none;
  color: white;
  margin-right: 0.5rem;
  font-weight: lighter;
}

main {
  height: calc(100vh - 15% - 10%);
  min-height: calc(100vh - 15% - 10%);
  padding: 0.5rem;
  overflow-y: auto;
}

main .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main .form-container form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

main .form-container form label {
  z-index: 1;
  font-size: 1.2rem;
  color: #0000004a;
}

main .form-container form input {
  border: none;
  border-bottom: 1px solid;
  width: 13rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
  margin-top: -1.8rem;
  -webkit-transition: margin-top 100ms ease-in;
  transition: margin-top 100ms ease-in;
}

main .form-container form input:focus, main .form-container form input:valid {
  outline: none;
  margin-top: 0rem;
}

main .form-container form button {
  background-color: #7aefa6;
  border: none;
  width: 6rem;
  height: 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  border-radius: 2rem;
  -webkit-transition: background-color 150ms ease-in;
  transition: background-color 150ms ease-in;
}

main .form-container form button:hover {
  background-color: #44ec83;
}

main .form-container form button:focus {
  outline: none;
}

main .posts-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .posts-container .post {
  border-bottom: 1px solid #d6d0d0;
  border-radius: 2rem;
  padding: 1rem 1rem;
  margin: 1rem 0;
  max-width: 100vw;
  width: 90vw;
  word-break: break-word;
  position: relative;
}

main .posts-container .post .postEdit {
  position: absolute;
  top: -8px;
  font-size: 0.8rem;
  color: #afadad;
}

main .posts-container .post .postContent {
  margin-bottom: 0.5rem;
}

main .posts-container .post .postUser, main .posts-container .post .postDate {
  font-size: 0.8rem;
  font-style: italic;
  color: #afabab;
  text-align: end;
}

main .posts-container .post .thumbImg, main .posts-container .post .commentImg {
  width: 1.5rem;
  position: absolute;
  bottom: 15px;
}

main .posts-container .post .thumbImgRight {
  left: 18%;
}

main .posts-container .post .thumbImgLeft {
  left: 9%;
}

main .posts-container .post .commentImg {
  left: 28%;
  bottom: 14px;
}

main .posts-container .post .editText {
  font-family: inherit;
  padding: 5px;
  font-size: 1rem;
}

main .posts-container .post .pConfirm {
  top: -8px;
  font-size: 0.8rem;
  color: #afadad;
  position: absolute;
}

main .posts-container .post .pDiscard {
  top: -8px;
  font-size: 0.8rem;
  color: #afadad;
  position: absolute;
  left: 70px;
}

main .posts-container .post .pHide {
  display: none;
}

main .createPost {
  margin: 2rem 0 2rem 0;
  -webkit-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
  display: none;
}

main .createPost .createPostButton {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 2rem;
  height: 3rem;
  width: 11rem;
  font-family: inherit;
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in;
}

main .createPost .createPostText {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 3rem;
  width: 11rem;
  opacity: 0;
  pointer-events: none;
  padding: 5px;
  font-family: inherit;
  font-size: 1rem;
  -webkit-transition: opacity 300ms ease-in, height 300ms ease-in, width 300ms ease-in;
  transition: opacity 300ms ease-in, height 300ms ease-in, width 300ms ease-in;
}

main .createPost .postBtn {
  position: absolute;
  top: 32%;
  width: 5rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

main .createPost .sendPost {
  left: 20%;
}

main .createPost .closePost {
  right: 20%;
}

main .createPost .showBtn {
  opacity: 1;
  pointer-events: all;
}

main .createPost .hideBtn {
  opacity: 0;
  pointer-events: none;
}

main .createPost .showInp {
  opacity: 1;
  pointer-events: all;
  height: 6rem;
  width: 90%;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

main .extendMargin {
  margin-bottom: 6rem;
}

main .show {
  display: block;
}

footer {
  height: 10%;
  background-color: #444242;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
  font-size: 0.9rem;
}
/*# sourceMappingURL=index.css.map */