/*-----VARIABLES-----*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  height: 15%;
  background-color: #444242;
}

header nav {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 0.6fr;
      grid-template-columns: 0.4fr 0.6fr;
}

header nav .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo .logo-link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  font-family: "Chewy", cursive;
}

header nav .navigation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.5rem;
}

header nav .navigation .nav-link {
  text-decoration: none;
  color: white;
  margin-right: 0.5rem;
  font-weight: lighter;
}

main {
  height: calc(100vh - 15% - 10%);
  min-height: calc(100vh - 15% - 10%);
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

main form label {
  z-index: 1;
  font-size: 1.2rem;
  color: #0000004a;
}

main form input {
  border: none;
  border-bottom: 1px solid;
  width: 13rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
  margin-top: -1.8rem;
  -webkit-transition: margin-top 100ms ease-in;
  transition: margin-top 100ms ease-in;
}

main form input:focus, main form input:valid {
  outline: none;
  margin-top: 0rem;
}

main form button {
  background-color: #7aefa6;
  border: none;
  width: 6rem;
  height: 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  border-radius: 2rem;
  -webkit-transition: background-color 150ms ease-in;
  transition: background-color 150ms ease-in;
}

main form button:hover {
  background-color: #44ec83;
}

main form button:focus {
  outline: none;
}

footer {
  height: 10%;
  background-color: #444242;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
  font-size: 0.9rem;
}
/*# sourceMappingURL=index.css.map */