/*-----VARIABLES-----*/
$font-stack: "Lato", sans-serif;
$logo-font: 'Chewy', cursive;
$header-height: 15%;
$footer-height: 10%;
$header-color: rgb(68, 66, 66);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-stack;
}

#root {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: $header-height;
    background-color: $header-color;

    nav {
        height: 100%;
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;

        .logo {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo-link {
                display: block;
                text-decoration: none;
                color: white;
                font-size: 2.5rem;
                font-family: $logo-font;
            }
        }

        .navigation {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 0.5rem;

            .nav-link {
                text-decoration: none;
                color: white;
                margin-right: 0.5rem;
                font-weight: lighter;
            }
        }
    }
}

main {
    height: calc(100vh - #{$header-height} - #{$footer-height});
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: "Lato", sans-serif;
        font-weight: lighter;

        label {
            z-index: 1;
            font-size: 1.2rem;
            color: #0000004a;
        }

        input {
            border: none;
            border-bottom: 1px solid;
            width: 13rem;
            height: 2rem;
            font-size: 1rem;
            font-weight: lighter;
            font-family: "Lato", sans-serif;
            margin-bottom: 1rem;
            margin-top: -1.8rem;
            transition: margin-top 100ms ease-in;
        }

        input:focus, input:valid {
            outline: none;
            margin-top: 0rem;
        }

        button {
            background-color: #7aefa6;
            border: none;
            width: 6rem;
            height: 2.5rem;
            align-self: center;
            font-size: 1rem;
            font-weight: lighter;
            font-family: "Lato", sans-serif;
            border-radius: 2rem;
            transition: background-color 150ms ease-in;
        }

        button:hover {
            background-color: #44ec83;
        }

        button:focus {
            outline: none;
        }
    }
}

footer {
    height: $footer-height;
    background-color: $header-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 0.9rem;
}












