/*-----VARIABLES-----*/
$font-stack: "Lato", sans-serif;
$logo-font: 'Chewy', cursive;
$header-height: 15%;
$footer-height: 10%;
$header-color: rgb(68, 66, 66);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-stack;
}

#root {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: $header-height;
    background-color: $header-color;

    nav {
        height: 100%;
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;

        .logo {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo-link {
                display: block;
                text-decoration: none;
                color: white;
                font-size: 2.5rem;
                font-family: $logo-font;
            }
        }

        .navigation {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 0.5rem;

            .nav-link {
                text-decoration: none;
                color: white;
                margin-right: 0.5rem;
                font-weight: lighter;
            }
        }
    }
}

main {
    height: calc(100vh - #{$header-height} - #{$footer-height});
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    padding: 0.5rem;
    overflow-y: auto;


    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            font-family: "Lato", sans-serif;
            font-weight: lighter;
    
            label {
                z-index: 1;
                font-size: 1.2rem;
                color: #0000004a;
            }
    
            input {
                border: none;
                border-bottom: 1px solid;
                width: 13rem;
                height: 2rem;
                font-size: 1rem;
                font-weight: lighter;
                font-family: "Lato", sans-serif;
                margin-bottom: 1rem;
                margin-top: -1.8rem;
                transition: margin-top 100ms ease-in;
            }
    
            input:focus, input:valid {
                outline: none;
                margin-top: 0rem;
            }
    
            button {
                background-color: #7aefa6;
                border: none;
                width: 6rem;
                height: 2.5rem;
                align-self: center;
                font-size: 1rem;
                font-weight: lighter;
                font-family: "Lato", sans-serif;
                border-radius: 2rem;
                transition: background-color 150ms ease-in;
            }
    
            button:hover {
                background-color: #44ec83;
            }
    
            button:focus {
                outline: none;
            }
        }
    }

    .posts-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .post {
            border-bottom: 1px solid #d6d0d0;
            border-radius: 2rem;
            padding: 1rem 1rem;
            margin: 0 0 2rem 0;
            max-width: 100vw;
            width: 90vw;
            word-break: break-word;
            position: relative;

            .postEdit {
                position: absolute;
                top: -8px;
                font-size: 0.8rem;
                color: #afadad;
            }

            .postDelete {
                position: absolute;
                top: -8px;
                font-size: 0.8rem;
                color: #afadad;
                right: 20px;
            }

            .postContent {
                margin-bottom: 0.5rem;
            }

            .postUser, .postDate {
                font-size: 0.8rem;
                font-style: italic;
                color: #afabab;
                text-align: end;
            }

            .thumbImg, .commentImg {
                width: 1.5rem;
                position: absolute;
                bottom: 15px;
            }

            .thumbImgRight {
                left: 18%;
            }

            .thumbImgLeft {
                left: 9%;
            }

            .commentImg {
                left: 28%;
                bottom: 14px
            }

            .editText {
                font-family: inherit;
                padding: 5px;
                font-size: 1rem;
            }

            .pConfirm {
                top: -8px;
                font-size: 0.8rem;
                color: #afadad;
                position: absolute;
            }

            .pDiscard {
                top: -8px;
                font-size: 0.8rem;
                color: #afadad;
                position: absolute;
                left: 70px;
            }

            .pHide {
                display: none;
            }
        }
    }

    .createPost {
        margin: 2rem 0 2rem 0;
        transition: margin 200ms ease-out;
        display: none;

        .createPostButton {
            border: 1px solid black;
            background-color: transparent;
            border-radius: 2rem;
            height: 3rem;
            width: 11rem;
            font-family: inherit;
            opacity: 1;
            pointer-events: all;
            transition: opacity 1000ms ease-in;
        }
        
        .createPostText {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%);
            height: 3rem;
            width: 11rem;
            opacity: 0;
            pointer-events: none;
            padding: 5px;
            font-family: inherit;
            font-size: 1rem;
            transition: opacity 300ms ease-in,
                        height 300ms ease-in,
                        width 300ms ease-in;
        }

        .postBtn {
            position: absolute;
            top: 32%;
            width: 5rem;
            height: 2rem;
            background-color: transparent;
            border: none;
            font-family: inherit;
            font-size: 1rem;
            opacity: 0;
            pointer-events: none;
            transition: opacity 300ms ease-in;
        }

        .sendPost {
            left: 20%;
        }

        .closePost {
            right: 20%;
        }

        .showBtn {
            opacity: 1;
            pointer-events: all;
            border: 1px solid rgb(105, 104, 104);
        }

        .hideBtn {
            opacity: 0;
            pointer-events: none;
        }



        .showInp {
            opacity: 1;
            pointer-events: all;
            height: 6rem;
            width: 90%;
            border-radius: 0.5rem;
            margin: 1rem 0;
        }
    }

    .extendMargin {
        margin-bottom: 5rem;
    }

    .show {
        display: block;
    }

}

footer {
    height: $footer-height;
    background-color: $header-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 0.9rem;
}












